* { box-sizing: border-box }
body { font-family: Tahoma; cursor: default; margin: 0; }
.editor { width: 1000px; margin: auto; }
.line { p1adding: 10px; height: 50px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.lng { text-align: center }
.lng::before { content: '\00a0'; }
.lng.current { background: rgba(255, 255, 0, 0.1) }
.line span { padding: 2px 2px 1px 2px; }
.en { font-size: 18px; }
.ru { font-size: 14px; color: #951900 }
.line .ru .selected { background: yellow; }
.line:before { content: attr(data-line); position: absolute; font-size: 12px; color: silver; margin: 0 0 0 -200px; }
.line.current { }
.line.hidden { display: none }
.line .selected { /*margin: 0 -15px 0 -5px; padding: 0 3px 0 15px;*/ background: #6CE6FF; border-radius: 3px;
    position: relative }
.collapsible { position: relative; margin: -10px 0 -10px 100px; height: 20px; z-index: 10; }
.collapsible.collapsed { background: url(collapse.png) center center repeat-x; background-size: auto 7px; }
.audio-en { float: left; height: 50px; width: 30px; background: url("../data/spectrogram.png") black no-repeat }
svg { position: absolute }
.line.linked { background: #DDF0FA; }
.thumb { float: left; background: url('../data/thumbs.jpg') no-repeat; background-size: 2000px 1650px; width: 100px; height: 50px; }
.relative { position: relative }
.current-time { position: absolute; width: 30px; height: 10px; background: #0FF; mix-blend-mode: multiply; margin: -5px 0 0 100px; }
.audio-selection { position: absolute; width: 30px; height: 10px; background: #FF0; mix-blend-mode: multiply; margin: 0 0 0 100px; }
.panel { position: absolute }
svg rect { cursor: ns-resize; fill: transparent; }
body.resize-ns { cursor: ns-resize; }
.popup { position: fixed; z-index: 10000; left: 0; top: 0; bottom: 0; right: 0; overflow: auto; }
.popup .popup-main {  }
.popup.styled .popup-main { margin: 100px auto; width: 600px; min-height: 400px; padding: 20px; border: 1px solid silver;
    border-radius: 3px; background: wheat; }
.popup.opacity { background: rgba(0, 0, 0, .1); }
.popup span.close-button { position: absolute; right: 10px; top: 10px; }
body.remove-scroll { overflow: hidden; }
* { o1utline: none; }
.radio-buttons { }
.radio-buttons button { border: 1px solid silver; background: white; margin-left: -1px; }
.radio-buttons button.active { background: yellow; }
input:invalid { outline: 3px solid red; }
date-picker-calendar { display: inline-block; background: white; padding: 5px; border: 1px solid silver }
date-picker-calendar .month-year { font-weight: bold; font-size: 13px; }
date-picker-calendar * { -webkit-user-select: none; cursor: default }
date-picker-calendar .day { display: inline-block; width: 25px; text-align: right; color: silver; padding: 2px 5px;
    font-size: 11px; border-radius: 3px; }
date-picker-calendar .day.current { color: #0DBEFF !important; }
date-picker-calendar .day.current-month { color: black; }
date-picker-calendar .controls a { display: inline-block; padding: 3px 5px; }
date-picker-calendar .day.active { background: #0DBEFF; color: white !important; }
date-picker-calendar .week-names { border-bottom: 1px solid silver; }
date-picker-calendar .week-name { font-weight: bold; text-align: center }
date-picker-calendar .header { display: flex; justify-content: space-between }
.animation { transition: transform .3s, opacity .5s; }
.animation.ag-enter, .animation.ag-leave.ag-leave-active { opacity: 0; transform: scale(0.98) }
.animation.ag-enter.ag-enter-active, .animation.ag-leave { opacity: 1; transform: scale(1) }
autocomplete { width: 300px; border: 1px solid silver; background: white; padding: 10px; border-radius: 3px; }
autocomplete input { background: transparent; border: transparent; width: 100%; outline: none }
autocomplete .remove { float: right; }
autocomplete .wraplist { position: relative }
autocomplete .list { box-sizing: border-box; position: absolute; background: white; border: 1px solid silver; width: 100%; padding: 5px; }
